<!DOCTYPE html>
<html lang="en">
   
    {{> default/header}}

    <body id="page-top">
        <!-- Navigation-->
       {{> default/navigation}}

        <!-- Masthead-->
       {{> default/masthead }}

        <!-- Services-->
       {{> default/services }}

        <!-- Portfolio Grid-->
       {{> default/portfolioGrid}}
        <!-- About-->
       {{> default/about}}
        <!-- Team-->
        <section class="page-section bg-light" id="team">
         
        <!-- Clients-->
       {{> default/clients }}
        <!-- Contact-->
       {{> default/contact}}
        <!-- Footer-->
       {{> default/footer}}

        <!-- Portfolio Modals-->
        {{> default/portfolio }}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="angency/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
